@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* GLOBAL */
:root {
  font-family: "Bebas Neue", sans-serif;

  --branco: #ffffffff;
  --preto: #000000ff;
  --azul-background: #52a9ec18;
  --azul-texto: #001755;
  --azul-destaque: #00a2ffd2;
  --azul-destaque-sombra: #00a2ff31;
  --azul-destaque-hover: #00a2ff00;
  --azul-sombra: #4968bf;

  --breakpoint-small: 460px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 1280px;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  color: var(--azul-texto);
  z-index: 100;
}

/* BODY */
body {
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
  font: normal 1em Arial;
  background-color: #ffffff;
  max-width: 100% !important;
  min-width: 250px !important;
  color: var(--azul-texto);
}

/* MAIN */
main {
  display: block;
  border-radius: 10px;
  background-color: #eeeeee;
  color: var(--azul-texto);
}

main > p {
  max-width: 95%;
  margin: 10px auto;
}

/* LISTAS */
ul {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  width: 500px;
  max-width: 200px;
}

ul > p {
  max-width: 300px;
  margin: 20px;
}

nav {
  display: block;
  width: auto;
  z-index: 100;
}
/* LINKS */
a {
  color: #ffffff;
  background-color: #adadad;
  border-radius: 5px;
  padding: 4px;
}

/* DIVS E SPANS */
div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* RODAPÉ */
footer {
  margin-top: 20px;
  font-size: 0.5em;
}

/* IDS */

#contato-mentoria {
  margin-top: -10px;
  margin-bottom: 20px;
}

#menu-flutuante {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
  text-transform: uppercase;
  font: bold 1.2em Arial;
  background-color: #fffffff6;
}

#menu-flutuante a {
  color: black;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  border-radius: 0;
  letter-spacing: 0.2em;
  box-sizing: border-box;
  transition: all 0.1s;
  line-height: 2.5em;
}

#menu-flutuante a:hover,
#link-principal {
  background-color: transparent;
  border-bottom: var(--azul-destaque) 5px solid;
  padding: 10px 1% 10px 1%;
  transition: all 0.21s;
  box-shadow: 0px 25px 15px -15px var(--azul-destaque-sombra);
}

#menu-flutuante a:hover {
  border-bottom: var(--azul-destaque) 5px solid !important;
}

#link-principal {
  box-shadow: none;
}

#apresentacao-pessoal {
  width: 100%;
  height: 720px;
  background-color: black;
}

#container {
  width: 100%;
  height: 720px;
  padding-top: 1px;
  background-repeat: no-repeat;
  background-image: url(../media/images/perfil-xl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#informacoes-pessoais {
  display: block;
  text-align: left;
  line-height: 4em;
  width: 70%;
  background-color: var(--azul-background);
  border-radius: 10px;
  padding: 60px 50px 60px 50px;
  backdrop-filter: blur(7px);
  box-shadow: 5px 5px 20px #ffffff13 inset;
}

#informacoes-pessoais > p {
  line-height: 1em;
  text-align: right;
  max-width: 100%;
  margin-bottom: 30px;
  margin-right: 0;
}

#informacoes-pessoais > h1 {
  line-height: 1em;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 10px;
  text-align: right;
  padding: 0;
  max-width: 100%;
  margin-right: -3em;
}

#informacoes-pessoais > h2 {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 10px;
  max-width: 100%;
}

#link-centralizado {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}

#link-centralizado > a {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 10%;
  font: bold 1em Arial;
  width: 500px;
  background-color: transparent;
  transition: ease 0.1s;
}

#link-centralizado > a:hover {
  color: var(--azul-destaque);
  text-decoration: underline;
  transition: ease 0.1s;
}

#logo-barra-nav {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;
}

#contato {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* CLASSES */
.icons-sm {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  padding: 20px;
}

.destaque-texto {
  color: var(--azul-destaque);
  background-color: transparent;
  text-decoration: underline !important;
  text-shadow: 0px 0px 5px var(--azul-destaque);
}

.padrao-contato {
  display: inline-block;
  color: var(--azul-texto);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  width: 200px;
  height: 200px;
  background-color: white;
  box-shadow: 0px 0px 20px #0000002d inset;
  transition: ease 0.2s all;
}

.padrao-contato:hover {
  background-color: rgba(0, 0, 0, 0.007);
  transition: ease 0.2s all;
}

.padrao-contato > h2,
p {
  padding-bottom: 20px;
  margin: 0 auto;
  display: block;
  width: 100%;
}

.padrao-contato h2 {
  text-transform: uppercase;
}

.titulo {
  display: inline-block;
  color: var(--azul-texto);
  margin: 30px;
  font-size: 4em;
  text-align: right;
}

.titulo::first-letter {
  text-decoration: underline;
}

p,
h1,
h2,
h3,
nav,
a,
img {
  animation: fadeInAnimation ease 0.8s;
}

/* KEYFRAMES */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA QUERYS */
@media only screen and (max-width: 850px) {
  #informacoes-pessoais > h1,
  #informacoes-pessoais > h2,
  #informacoes-pessoais > p,
  .destaque-texto {
    display: block;
    text-align: center !important;
    border-radius: 10px;
    padding-left: 0;
  }

  #informacoes-pessoais > h2 {
    letter-spacing: 0.5em;
    line-height: 1.5em;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
  }

  #informacoes-pessoais > h1 {
    font-size: 3em;
    letter-spacing: 0.25em;
    text-align: center !important;
    margin-bottom: 10px;
  }
  p {
    margin-left: 10px !important;
  }

  .link-menu:hover {
    border-bottom: var(--azul-destaque) 5px solid !important;
  }

  #link-centralizado {
    font-size: 0.9em;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    line-height: 3em;
    padding: 0 !important;
  }

  .icons-sm {
    height: 25px !important;
    width: 25px !important;
  }

  #experiencia {
    font-size: 1em;
    max-width: 250px;
  }

  #contato {
    display: block;
    height: 50%;
  }

  .padrao-contato {
    height: 150px;
    margin: 5px;
    text-align: center !important;
  }

  .padrao-contato > p {
    margin: 0 !important;
  }

  main {
    margin-top: 35px;
  }

  nav {
    backface-visibility: hidden;
    display: inline;
    max-height: 24px;
    text-align: center;
    font-size: 1em !important;
    padding-top: 0 !important;
    transition: ease 0.3s;
  }

  nav:hover,
  nav:active {
    display: inline;
    max-height: 50%;
    transition: ease 0.5s;
  }

  nav > a,
  .link-principal {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    line-height: 2em !important;
  }

  footer {
    font-size: 0.5em;
  }
}
