@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  padding: 3px;
  margin: 0;
  text-decoration: none !important;
}
body {
  text-align: center;
  margin: 0 auto;
  font: normal 1em  Arial;
  background-color: #ffffff;
  max-width: 1000px;
  min-width: 250px;
  color: white;
}

main {
  margin: 0 auto;
  height: auto;
  border-radius: 10px;
  max-width: 1000px;
  min-width: 250px;
  background-color: #eeeeee;
  width: 90%;
  padding: 15px;
  color: black;
  box-shadow: 5px 5px  rgb(153, 153, 153);
}
main > p{
  max-width: 95%;
  margin: 10px auto;
}
ul {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}

ul > p{
  max-width: 300px;
  margin: 20px;
}

a{
  color: #ffffff;
  background-color: #adadad;
  border-radius: 5px;
  padding: 4px;
}

footer{
  margin-top: 20px;
}
#foto-perfil-fora {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  background: linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

#foto-perfil-dentro{
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  border-radius: 50%;
}

#contato-mentoria{
  margin-top: -10px;
margin-bottom: 20px;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}